<section class="m-sec-style  mx-auto">
  <h1 class="text-green-600 text-center font-light text-4xl capitalize mb-2">All You Need – From Bites to Beats</h1>
  <div class="grid sm:grid-cols-1 md:grid-cols-[60%_30%]" >
    <div class="border shadow rounded-md border-green-500 text-center " >
    <img [src]="catDeatils.image"  class="w-1/2  object-contain" alt="">
    </div>
    <div class="text-center flex items-center justify-center gap-3 ">

      <div>
        <h3 class="text-green-500 text-3xl font-semibold" >{{catDeatils.name}}</h3>
      </div>

    </div>
  </div>

</section>
