<section class="w-1/2 rounded mx-auto shadow border bg-gray-50 p-4">
  <h1 class="capitalize text-center text-3xl text-green-600 font-light" >{{'login.loginnow'|translate}}</h1>
  <form [formGroup]="loginform" (ngSubmit)="submitform()" >

    <div class="mb-1">
      @let emailcontrol=loginform.get('email');
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{'login.email'|translate}} </label>
      <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    @if (emailcontrol?.errors && emailcontrol?.touched ) {
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium">Ensure that these requirements are met:</span>
            <ul class="mt-1.5 list-disc list-inside">
              @if (emailcontrol?.getError('required')) {
                <li>email is required</li>
              }
              @else if (emailcontrol?.getError('email')) {
                <li>enter valid email</li>
              }
          </ul>
        </div>
      </div>
    }
  </div>
    <div class="mb-1">
      @let passwordcontrol=loginform.get('password');
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{'login.password'|translate}}</label>
      <input formControlName="password" type="password" id="password" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (passwordcontrol?.errors && passwordcontrol?.touched ) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
              <ul class="mt-1.5 list-disc list-inside">
                @if (passwordcontrol?.getError('required')) {
                  <li>password is required</li>
                }
                @else if (passwordcontrol?.getError('pattern')) {
                  <li>enter valid password</li>
                }
            </ul>
          </div>
        </div>
      }
    </div>


    <a routerLink="/forget" class="text-blue-500 capitalize text-lg p-3 hover:text-blue-700 " > forgetpassword </a>
  <button [disabled]="isloading" type="submit" class="btn-main" >{{'login.login'|translate}}
    @if ( isloading ) {
      <span> <i class="fas fa-spin  fa-spinner" ></i> </span>

    }
  </button>
  @if (errormessage) {
    <p class="bg-red-400 text-white text-3xl text-center capitalize px-2 py-5 border"> {{errormessage}} </p>
  }
  @if (isSuccess) {
    <p class="bg-green-400 text-white text-3xl text-center capitalize px-2 py-5 border"> {{isSuccess}} </p>
  }

  </form>
</section>
