<section class="m-sec-style" >
  <h1 class="capitalize text-green-600 text-center text-4xl mb-3">all orders</h1>

 @for (order of allOrdersList; track order.id) {

    <div class=" grid md:grid-cols-[10%_minmax(0,1fr)] gap-4 border-b">
      @for (cartorder of order.cartItems; track cartorder._id) {
      <div>
        <img [src]="cartorder.product.imageCover" class="w-full h-[100px] object-contain " [alt]="cartorder.product.title">
      </div>
      <div class="flex justify-between items-center">
        <div>
          <h3 class="font-medium capitalize" >{{cartorder.product.title}}</h3>
          <h4 class="text-green-500">{{cartorder.price}} EGP</h4>
          <!-- <h4 class="text-green-500">{{cartorder.count}}  </h4> -->
          <h4 class="text-green-500 mt-2">{{cartorder.product.brand.slug}}</h4>


        </div>
        <div class="flex items-center gap-3" >
          <div>
            <i class="fas fa-star text-yellow-300 "></i>
            <span class="text-gray-500">{{cartorder.product.ratingsAverage}}</span>
          </div>
        </div>
        </div>
      }
    </div>





 }

</section>
