<section class="m-sec-style w-[50%] mx-auto">
  <h1 class="text-green-600 text-center capitalize text-3xl " >checkOut</h1>
  <form [formGroup]="checkOutform" (ngSubmit)="submitform()">
    <div class="mb-1">
      <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">details</label>
      <textarea formControlName="details" id="details" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
  </div>
    <div class="mb-1">
      <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone</label>
      <input type="tel" formControlName="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  </div>
    <div class="mb-1">
      <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">city</label>
      <input type="text" formControlName="city" id="city" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  </div>

    <button class="btn-main" [disabled]="checkOutform.invalid" type="submit"> online Payment</button>


  </form>
</section>
