.card{
  position: relative;
  button{
    transform: translatey(100%);
    transition: all 0.4s;
    opacity: 0;
  }
  &:hover{
    button {
      transform: translateY(0);
      opacity: 1;
    }

  }
}
