<footer class="bg-gray-200 p-7 capitalize ">
  <div class="container">
    <h2 class=" text-3xl font-semibold">Get The FreshCart App</h2>
    <p class=" leading-normal text-gray-500 small">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <!-- inputs design  -->
    <div class="flex items-center gap-3 flex-nowrap ">
      <input type="text" class="form-control rounded-2xl w-3/4" placeholder="Email" />
      <button class="bg-slate-300 p-3 rounded-md hover:bg-slate-500 hover:text-blue-50">Share App Link</button>
    </div>
    <br>
    <!-- footer payment Details Design  -->
    <div class=" flex justify-between items-center gap-6 ">
      <div class="flex items-center gap-5">
        <h3 class="h6 text-xl m-0">Payment partners</h3>

        <img src="/images ecom/amazon-pay.png" width="50px" alt="our-payments-imgs" />
        <img
          src="/images ecom/American-Express-Color.png"
          width="50px"
          alt=""
        />
        <img src="/images ecom/paypal.png" width="50px" alt="our-payments-imgs" />
        <!-- <img src="/images ecom/mastercard.webp" width="50px" alt="our-payments-imgs" /> -->
      </div>

      <div class="flex items-center gap-1">
        <!-- <h3 class=" text-xl m-0">Get Deliveries with FreshCart</h3> -->
          <img src="/images ecom/get-google-play.png" width="65px" alt="our-payments-imgs" />
          <img src="/images ecom/get-apple-store.png" width="65px" alt="our-payments-imgs" />


      </div>
    </div>
  </div>
</footer>
