<section>
  <h1 class="capitalize text-center text-3xl text-green-600 font-medium my-5" >forget password</h1>
@if (step==1) {
  <form  [formGroup]="verifyEmail" class="rounded mx-auto shadow border bg-gray-50 p-4" (ngSubmit)="verifyEmailSubmit()" >

    <div class="my-4" >
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
      <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched ) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
              <ul class="mt-1.5 list-disc list-inside">
                @if (verifyEmail.get('email')?.getError('required')) {
                  <li>email is required</li>
                }
                @else if (verifyEmail.get('email')?.getError('email')) {
                  <li>enter valid email</li>
                }
            </ul>
          </div>
        </div>

      }

    </div>
 <button class="btn-main" [disabled]="verifyEmail.invalid" >verify email</button>
  </form>
}
 @if (step==2) {
  <form  [formGroup]="verifyCode" class="rounded mx-auto shadow border bg-gray-50 p-4" (ngSubmit)="verifyCodeSubmit()">

    <div class="my-4" >
      <label for="resetCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">resetCode</label>
      <input formControlName="resetCode" type="text" id="resetCode" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched ) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
              <ul class="mt-1.5 list-disc list-inside">
                @if (verifyCode.get('resetCode')?.getError('required')) {
                  <li>code is required</li>
                }
                @else if (verifyCode.get('resetCode')?.getError('resetCode')) {
                  <li>enter valid code</li>
                }
            </ul>
          </div>
        </div>

      }

    </div>
 <button class="btn-main" [disabled]="verifyEmail.invalid" >verify code</button>
  </form>
 }
 @if (step==3) {
  <form  [formGroup]="resetPassword" class="rounded mx-auto shadow border bg-gray-50 p-4"  (ngSubmit)="resetPasswordSubmit()" >

    <div class="my-4" >
      <div class="my-4" >
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email</label>
        <input formControlName="email" type="email" id="email" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched ) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <span class="font-medium">Ensure that these requirements are met:</span>
                <ul class="mt-1.5 list-disc list-inside">
                  @if (resetPassword.get('email')?.getError('required')) {
                    <li>email is required</li>
                  }
                  @else if (resetPassword.get('email')?.getError('email')) {
                    <li>enter valid email</li>
                  }
              </ul>
            </div>
          </div>

        }

      </div>




      <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">newPassword</label>
      <input formControlName="newPassword" type="password" id="newPassword" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      @if (resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched ) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">Ensure that these requirements are met:</span>
              <ul class="mt-1.5 list-disc list-inside">
                @if (resetPassword.get('newPassword')?.getError('required')) {
                  <li>newPassword is required</li>
                }
                @else if (resetPassword.get('newPassword')?.getError('newPaswword')) {
                  <li>enter valid newPasswrod</li>
                }
            </ul>
          </div>
        </div>

      }

    </div>
 <button class="btn-main" [disabled]="resetPassword.invalid" >verify newPassword</button>
  </form>
 }
</section>
